.video-tabs {

}
.load-more {
	display: none;
}
.video-thumbs {
	position: relative;
	overflow-y: scroll;
	height: 410px;

	.item {
		position: relative;
		display: block;
		width: 170px;
		height: 96px;
		margin-bottom: 18px;
		margin-right: 15px;
		overflow: hidden;

		img {
			width: 100%;
		}
		.title {
			font-size: 14px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px;
			background: rgba(255, 255, 255, 0.85);
			opacity: 0;
			text-align: left;
			line-height: 1.5;
			color: #000;
			font-weight: normal;
			-webkit-transition: opacity 0.3s;
			-moz-transition: opacity 0.3s;
			transition: opacity 0.3s;
		}
		&:hover, &.active {
			.title {
				opacity: 1;
			}
		}

	}

}
.shadow-div {
	position: relative;
	float: left!important;
	width: 196px!important;
	height: 420px!important;
	margin-top: 45px;
	margin-left: 75px;
	overflow: hidden;

	&:before, &:after {
		content: "";
		opacity: 0;
		position: absolute;
		height: 15px;
		left: 0;
		width: 100%;
		background: #8DC63F;
		z-index: 2;
		-webkit-box-shadow: 0 0px 70px 45px #8DC63F;
		-moz-box-shadow: 0 0px 70px 45px #8DC63F;
		box-shadow: 0 0px 70px 45px #8DC63F;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}
	&:after {
		bottom: 0;
	}
	&:before {
		top: 0;
	}
	&.scroll-top:after, &.scroll-middle:after {
		opacity: 1;
	}

	&.scroll-bottom:before, &.scroll-middle:before {
		opacity: 1;
	}

}

@media only screen and (max-width: 480px) {

	.shadow-div.loaded-more, .loaded-more .video-thumbs {
		height: auto !important;

	}
	.video-thumbs {
		overflow: hidden;
		.item {
			margin-right: 0;
		}
	}
	.load-more {
		position: relative;
		color: #fff;
		display: block;
		text-decoration: underline;
		text-align: center;
		font-family: 'Open Sans';
		font-size: 16px;
		z-index: 3;
	}
	.shadow-div.loaded-more:after, .shadow-div.loaded-more .shadow-div:before {
		display: none;
	}
	.video-main {
		float: none;
		width: 100%;

		.item .left {
			float: none;
			text-align: center;
		}
		.video-link {
            width: 100%;
			max-width: 306px !important;
			height: 306px !important;
            margin-right: 0!important;

		}
		.video-tip {
			margin: 13px 0;
            width: 100%!important;

		}
	}
	.shadow-div {
		float: none !important;
		margin: 40px auto 0;

		width: 170px !important;
	}
}
