// ******************************* Shaped buttons base style *************************************
.btn-round {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 47px;
  border: solid 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  font-size: 26px;
  color: #000;

  .fa {
    vertical-align: top;
    line-height: 33px;
  }
  &:hover {
    cursor: pointer;
  }
}
.btn-round-orange {
  position: relative;
  display: inline-block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  background: url('../images/circle-bg-orange-sm.png') no-repeat;
  color: #fff;

  &:hover {
    cursor: pointer;
    background: url('../images/hover.png') no-repeat;
    color: #f08b1d;
  }
}
.btn-oval {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 18px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  color: #fff;

  .fa {
    margin-right: 10px;
    font-size: 17px;
    vertical-align: baseline;
  }
  &:hover {
    cursor: pointer;
  }
}

// ******************************* Social Media Buttons *****************************************

.btn-facebook {
  @extend .btn-oval;
    background: #4060a0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwNjBhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjUyOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #4060a0 0%, #365290 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4060a0), color-stop(100%,#365290)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4060a0 0%,#365290 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4060a0 0%,#365290 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4060a0 0%,#365290 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4060a0 0%,#365290 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4060a0', endColorstr='#365290',GradientType=0 ); /* IE6-8 */

  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  .fb-share-button {
      position: absolute;
      
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
    opacity: 0.01;
    cursor: pointer;
    transform: scale(2);
    transform-origin: 50px 0;
    
    span {
      vertical-align: bottom  !important;
      width: 48px !important;
      height: 14px !important;

      iframe {
        width: 50px !important;
        height: 30px !important;
      }
    }
  }

  &:hover {
    background: #365290; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2NTI5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDYwYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #365290 0%, #4060a0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#365290), color-stop(100%,#4060a0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #365290 0%,#4060a0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #365290 0%,#4060a0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #365290 0%,#4060a0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #365290 0%,#4060a0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365290', endColorstr='#4060a0',GradientType=0 ); /* IE6-8 */

    color: #fff;
    cursor: pointer;
  }
}
.btn-tweet {
  width: 120px;
  height: 37px;
  
  @extend .btn-oval;
  background: #00b2f1; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjJmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGE0ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #00b2f1 0%, #00a4ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b2f1), color-stop(100%,#00a4ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b2f1 0%,#00a4ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b2f1 0%,#00a4ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b2f1 0%,#00a4ef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b2f1 0%,#00a4ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2f1', endColorstr='#00a4ef',GradientType=0 ); /* IE6-8 */

  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

    iframe {
        position: absolute;

        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        opacity: 0.01;
        display: block;
        cursor: pointer;
        transform: scale(2);
        transform-origin: 0 0;
        zoom: 2;
    }
  &:hover {
    background: #00a4ef; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSItMSUiIHN0b3AtY29sb3I9IiMwMGE0ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDBiMmYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #00a4ef -1%, #00b2f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#00a4ef), color-stop(100%,#00b2f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a4ef -1%,#00b2f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a4ef -1%,#00b2f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a4ef -1%,#00b2f1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a4ef -1%,#00b2f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4ef', endColorstr='#00b2f1',GradientType=0 ); /* IE6-8 */

    color: #fff;
    cursor: pointer;
  }
}
.btn-youtube {
  @extend .btn-oval;
  position: relative;

  background: #c63637; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSItMSUiIHN0b3AtY29sb3I9IiNjNjM2MzciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzAzMzMwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #c63637 -1%, #c03330 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,#c63637), color-stop(100%,#c03330)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c63637 -1%,#c03330 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c63637 -1%,#c03330 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c63637 -1%,#c03330 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c63637 -1%,#c03330 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c63637', endColorstr='#c03330',GradientType=0 ); /* IE6-8 */


  &:hover {
    background: #c03330; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MwMzMzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMSUiIHN0b3AtY29sb3I9IiNjNjM2MzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c03330 0%, #c63637 101%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c03330), color-stop(101%,#c63637)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c03330 0%,#c63637 101%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c03330 0%,#c63637 101%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c03330 0%,#c63637 101%); /* IE10+ */
    background: linear-gradient(to bottom,  #c03330 0%,#c63637 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c03330', endColorstr='#c63637',GradientType=0 ); /* IE6-8 */

    color: #fff;
    cursor: pointer;
  }

}

// **************************** Colored border buttons ********************************************

.btn-green {
  @extend .btn-round;
  border-color: #80b339;

  &:hover {
    background: #80b339;
    color: #fff;
  }
}
.btn-blue {
  @extend .btn-round;
  border-color: #3193cc;

  &:hover {
    background: #3193cc;
    color: #fff;
  }
}
.btn-orange {
  @extend .btn-round;
  border-color: #d97d1a;

  &:hover {
    background: #d97d1a;
    color: #fff;
  }
}

// ***************************** Video play button ***************************************************

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  background: #fed6b6;

  &:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 15px solid #ee922f;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7.5px;
    margin-top: -11px;
  }
  &:hover {
    background: #ee922f;

    &:before {
      border-left: 15px solid #fed6b6;
    }
  }
}
