footer {
  position: relative;
  padding-top: 35px;
  height: 135px;
  margin-top: -135px;
  background: #fff;
  min-width: 1185px;
  .container {
    overflow: none;
  }
  .social-networks, .copy, .footer-nav {
    display: inline-block;
    vertical-align: top;
  }
  .social-networks {
    
    width: 140px;

    a:first-child {
      margin-left: 0;
    }
    a {
      margin-left: 30px;
      display: inline-block;
    }

    .fa {
      font-size: 22px;
      color: #000;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .copy {
    font-size: 14px;
    font-family: "Myriad Pro", Myriad, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #808080;
    
    width: 600px;
    
    line-height: 1.5;

    .icon-logo {
      display: inline-block;
      vertical-align: baseline;
    }
  }
  .footer-nav {
    width: 405px;
    
    .menu-item {
      float: left;
      width: 33%;
      text-align: right;

      a {
        font-family: 'open sans';
        font-weight: 600;
        color: #000;
      }
      &:hover {
        a {
          color: #f08b1d;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer {
    min-width: 100%!important;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;

    .social-networks, .copy, .footer-nav {
      float: none;
      display: block;
      width: auto;
    }
    .social-networks {
      text-align: center;
    }
    .copy, .footer-nav {
      margin-right: 0;
    }
    .copy {
      margin: 20px 10px;
    }
    .container {
      text-align: center;
      padding: 0 30px;
    }
    .footer-nav {
      margin: 20px 10px;
      text-align: center;
      line-height: 1.8;

      .menu-item {
        width: 48%;
        display: inline-block;
        float: none;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 10px;
      }
    }
  }
}
