form {

  span.wpcf7-not-valid-tip {
    font-size: 12px!important;
    padding: 5px;
  }
  .wpcf7-response-output {
    clear: both;
    font-size: 14px;
  }
  div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok {

    border: none;
    margin-left: 5px;
    position: relative;
    padding: 0 0 0 15px;


    &:before {
      font-family: FontAwesome;
      position: absolute;
      left: -5px;
    }
  }
  div.wpcf7-validation-errors:before {
    content: "\f06a";
    color: red;
  }
  div.wpcf7-mail-sent-ok:before {
    content: "\f058";
    color: green;
  }
  .your-story {
    margin-bottom: 15px;
  }
}
.round-container {
  .wpcf7-form-control-wrap.your-question .wpcf7-not-valid-tip {
    margin-top: -25px;
    margin-bottom: 20px;
  }
  .wpcf7-form-control-wrap.your-email .wpcf7-not-valid-tip {
    margin-top: -10px;
    margin-bottom: 10px;
  }

}
form.invalid {
  .wpcf7-not-valid {
    border: solid 1px red!important;
  }
}
.page-contact {
  span.wpcf7-form-control-wrap {
    display: block;
    float: right;
  }
}
.page-mentoring {

  div.wpcf7-response-output {
    width: 54%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
}