h1, h2, h3 {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

a {
  font-family: 'Open Sans';
  color: #000;

  &:hover {
    text-decoration: none!important;
  }
}

.text-green {
  color: #8dc63f;
}
.text-blue {
  color: #37a4e4;
}
.text-orange, .text-orange:hover {
  color: #f08b1d;

}
.bold {
  font-weight: 700;
}
