/* line 1, ../../scss/pages/contact.scss */
.page-contact {
  background: #d2168e;
}
/* line 4, ../../scss/pages/contact.scss */
.page-contact article {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  float: left;
  width: 560px;
  margin-left: 130px;
  padding: 30px 40px 70px 35px;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
/* line 18, ../../scss/pages/contact.scss */
.page-contact article .mask.grunge {
  float: left !important;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 27, ../../scss/pages/contact.scss */
.page-contact article h4 {
  margin-bottom: 20px;
  margin-right: 25px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
/* line 35, ../../scss/pages/contact.scss */
.page-contact article input[type="text"], .page-contact article input[type="email"] {
  width: 300px;
  margin-bottom: 10px;
}
/* line 39, ../../scss/pages/contact.scss */
.page-contact article input[type="text"], .page-contact article input[type="email"] {
  float: right;
}
/* line 42, ../../scss/pages/contact.scss */
.page-contact article textarea {
  width: 485px;
  height: 140px;
  margin-top: 8px;
}
/* line 47, ../../scss/pages/contact.scss */
.page-contact article input[type="submit"] {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -55px;
  width: 99px;
  height: 96px;
  border: none;
  outline: none;
  background: url("../../images/circle-bg-blue-md.png") no-repeat;
  background-size: 99px 96px;
  color: #fff;
}
/* line 61, ../../scss/pages/contact.scss */
.page-contact article ::-webkit-input-placeholder {
  color: #000;
  font-size: 16px;
}
/* line 66, ../../scss/pages/contact.scss */
.page-contact article :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  font-size: 16px;
}
/* line 71, ../../scss/pages/contact.scss */
.page-contact article ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-size: 16px;
}
/* line 76, ../../scss/pages/contact.scss */
.page-contact article :-ms-input-placeholder {
  color: #000;
  font-size: 16px;
}
/* line 82, ../../scss/pages/contact.scss */
.page-contact aside {
  float: right;
  width: 300px;
  margin-right: 125px;
}
/* line 87, ../../scss/pages/contact.scss */
.page-contact aside section {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  padding: 15px;
  width: 300px;
  margin-bottom: 18px;
  background: #f6f6f6;
  border: solid 1px #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
/* line 100, ../../scss/pages/contact.scss */
.page-contact aside section iframe {
  background: #fff;
}
/* line 105, ../../scss/pages/contact.scss */
.page-contact .page-title {
  width: 695px;
  margin: 40px auto;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  line-height: 1.4;
  text-align: center;
}
/* line 115, ../../scss/pages/contact.scss */
.page-contact .page-title span {
  display: block;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  /* line 123, ../../scss/pages/contact.scss */
  .page-contact .fb_iframe_widget {
    width: 100%;
  }
  /* line 127, ../../scss/pages/contact.scss */
  .page-contact #page > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  /* line 131, ../../scss/pages/contact.scss */
  .page-contact .page-title {
    width: 90%;
    font-size: 24px;
  }
  /* line 135, ../../scss/pages/contact.scss */
  .page-contact aside, .page-contact article {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 141, ../../scss/pages/contact.scss */
  .page-contact article {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px 5px 50px;
    margin-bottom: 80px;
  }
  /* line 148, ../../scss/pages/contact.scss */
  .page-contact article .mask.grunge {
    float: none !important;
    display: block;
    margin: 0 auto 25px !important;
  }
  /* line 153, ../../scss/pages/contact.scss */
  .page-contact article input[type="text"], .page-contact article input[type="email"] {
    width: 100%;
    float: none;
  }
  /* line 157, ../../scss/pages/contact.scss */
  .page-contact article textarea {
    max-width: 100%;
    min-width: 0;
    width: 100%;
    margin-left: 0;
  }
  /* line 163, ../../scss/pages/contact.scss */
  .page-contact article .contact-image {
    float: none !important;
    display: block;
    margin: 0 auto 20px;
  }
  /* line 168, ../../scss/pages/contact.scss */
  .page-contact article h4 {
    float: none;
    text-align: center;
    margin-right: 0;
  }
  /* line 173, ../../scss/pages/contact.scss */
  .page-contact article span.wpcf7-form-control-wrap {
    float: none;
  }
  /* line 178, ../../scss/pages/contact.scss */
  .page-contact aside section {
    width: 84%;
    margin: 0 auto 20px;
  }

  /* line 186, ../../scss/pages/contact.scss */
  .fb-like-box span, .fb-like-box span * {
    width: 100% !important;
  }
}
