/* line 1, ../../scss/pages/teaching-details.scss */
.page-teaching-details {
  background: #8dc63f;
}
/* line 3, ../../scss/pages/teaching-details.scss */
.page-teaching-details .paragraph-container {
  position: relative;
  width: auto;
  margin-bottom: 60px;
  text-align: left;
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  color: #000;
  font-size: 28px;
  line-height: 1.55;
}
/* line 14, ../../scss/pages/teaching-details.scss */
.page-teaching-details p {
  font-family: 'Open Sans';
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55;
}
/* line 21, ../../scss/pages/teaching-details.scss */
.page-teaching-details .btn-container {
  text-align: center;
}
/* line 24, ../../scss/pages/teaching-details.scss */
.page-teaching-details .contact-btn {
  display: inline-block;
  clear: both;
  padding: 13px 17px;
  border: solid 1px #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background: #f29820;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyOTgyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZTdlMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f29820 0%, #ee7e1a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f29820), color-stop(100%, #ee7e1a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f29820 0%, #ee7e1a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f29820 0%, #ee7e1a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f29820 0%, #ee7e1a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f29820 0%, #ee7e1a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29820', endColorstr='#ee7e1a',GradientType=0 );
  /* IE6-8 */
  font-family: 'Open Sans';
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
/* line 50, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials {
  margin-top: 40px;
}
/* line 53, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials h3 {
  display: block;
  text-align: center;
  font-size: 28px;
  margin-bottom: 45px;
  margin-left: -35px;
}

@media only screen and (max-width: 480px) {
  .page-teaching-details .testimonials h3 { margin-left: 0; }
}

#tab-our-vision article.tab4 {
  text-align: center;
}

#tab-our-vision article.tab4 .section-video .contact-btn { display: inline; }

#tab-our-story article .btn-container,
#tab-our-vision article .btn-container,
#tab-our-services article .btn-container {
  padding: 0 1em;
}

/* line 60, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box {
  position: relative;
  background: #d1e8b2;
  padding: 29px 40px 29px 85px;
  margin-bottom: 35px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: left;
}
/* line 69, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  width: 35px;
  height: 28px;
  background: url("../../images/quotes.png") no-repeat;
  z-index: 10;
}
/* line 81, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box em {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
}
/* line 87, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box b {
  display: block;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}
/* line 96, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box.arrow-top-left {
  position: relative;
}
/* line 99, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box.arrow-top-left:after {
  content: "";
  position: absolute;
  top: -18px;
  left: 200px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 18px solid #d1e8b2;
}
/* line 111, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box.arrow-top-right {
  position: relative;
}
/* line 114, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box.arrow-top-right:after {
  content: "";
  position: absolute;
  top: -18px;
  right: 200px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 18px solid #d1e8b2;
}
/* line 126, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box.arrow-bottom-right {
  position: relative;
}
/* line 129, ../../scss/pages/teaching-details.scss */
.page-teaching-details .testimonials .testimonial-box.arrow-bottom-right:after {
  content: "";
  position: absolute;
  bottom: -18px;
  right: 200px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 1px solid transparent;
  border-top: 18px solid #d1e8b2;
}
/* line 145, ../../scss/pages/teaching-details.scss */
.page-teaching-details header > .container {
  overflow: visible;
}
/* line 148, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-content {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 710px;
  left: 480px;
  top: 90px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 45px 20px 45px 30px;
}
/* line 161, ../../scss/pages/teaching-details.scss */
.page-teaching-details h2 {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  line-height: 1.4;
}
/* line 169, ../../scss/pages/teaching-details.scss */
.page-teaching-details #page > .container {
  padding: 90px 0 135px;
  overflow: visible;
}
/* line 174, ../../scss/pages/teaching-details.scss */
.page-teaching-details footer {
  z-index: 1;
}
/* line 177, ../../scss/pages/teaching-details.scss */
.page-teaching-details header {
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.1);
}
/* line 182, ../../scss/pages/teaching-details.scss */
.page-teaching-details header .logo-container {
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.1);
}
/* line 188, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-navigation {
  float: left;
  width: 470px;
  height: 100%;
  padding: 50px 25px 0;
  background: #fff;
}
/* line 195, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-navigation:before {
  content: "";
  bottom: 125px;
  left: -5px;
  position: absolute;
  height: 10px;
  width: 478px;
  box-shadow: 0 -7px 5px -3px #dfe4d7;
  z-index: 998;
}
/* line 207, ../../scss/pages/teaching-details.scss */
.page-teaching-details .page-title {
  display: block;
  text-align: center;
}
/* line 211, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tabs {
  margin-top: 40px;
}
/* line 216, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tabs #tab-an-event-organizer .paragraph-container {
  margin-bottom: 0 !important;
  text-align: center !important;
}
/* line 222, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab {
  margin-bottom: 20px;
}
/* line 227, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab.active .tab-header {
  background: #8dc63f;
}
/* line 230, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab.active .tab-content {
  display: block;
}
/* line 235, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header {
  display: block;
  margin-right: -25px;
  padding: 10px 12px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  background: #fff;
}
/* line 243, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header:hover {
  cursor: pointer;
}
/* line 247, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header .icon-container {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
/* line 254, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header .swapping-images {
  width: 100%;
  height: 100%;
}
/* line 258, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header h3 {
  font-size: 24px;
}
/* line 262, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header .text-container {
  width: 305px;
  margin-left: 15px;
}
/* line 266, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header .text-container h3 {
  margin: 10px 0;
}
/* line 269, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-header .text-container span {
  font-size: 18px;
  line-height: 1.3;
}
/* line 278, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab1 h2 {
  margin-bottom: 60px;
}
/* line 283, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab1 .section-text .left-column, .page-teaching-details .tab-layout.tab1 .section-text .right-column {
  width: 310px;
}
/* line 286, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab1 .section-text .left-column {
  float: left;
}
/* line 289, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab1 .section-text .right-column {
  float: right;
}
/* line 297, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab3 h2 {
  margin-bottom: 60px;
}
/* line 303, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab4 .video-main {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
/* line 307, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab4 .video-main .video-link {
  margin: 0 auto;
}
/* line 311, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab4 .section-video {
  margin-top: 0;
  margin-bottom: 25px;
  min-height: 476px;
}
/* line 316, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab4 .btn-container {
  margin: 60px 0 30px 0;
}
/* line 322, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text {
  padding: 35px 0 35px 0;
}
/* line 325, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text h2 {
  margin-bottom: 45px;
}
/* line 328, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .paragraph.col {
  width: 180px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
/* line 338, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .middle.paragraph {
  margin: 0 48px;
  position: relative;
}
/* line 342, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .middle.paragraph:before, .page-teaching-details .tab-layout.tab2 .section-text .middle.paragraph:after {
  content: "";
  position: absolute;
  top: -32px;
  background: url("../../images/vertical-separator.png") no-repeat;
  height: 193px;
  width: 10px;
}
/* line 350, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .middle.paragraph:before {
  left: -20px;
}
/* line 353, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .middle.paragraph:after {
  right: -50px;
}
/* line 358, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .last.paragraph {
  margin: 55px 0 15px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
/* line 368, ../../scss/pages/teaching-details.scss */
.page-teaching-details .tab-layout.tab2 .section-text .last.paragraph a {
  margin-top: 10px;
  display: block;
  color: #fff;
  font-size: 18px;
}

/* line 381, ../../scss/pages/teaching-details.scss */
.video-main {
  float: left;
  width: 368px;
}

/* line 385, ../../scss/pages/teaching-details.scss */
.section-video {
  margin-top: 45px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 25px 0 15px 0;
}
/* line 391, ../../scss/pages/teaching-details.scss */
.section-video .range, .section-video .video-info .video-subtitle, .section-video .social-btn {
  display: none;
}
/* line 396, ../../scss/pages/teaching-details.scss */
.section-video .video-main .item {
  width: 100%;
  display: none;
}
/* line 399, ../../scss/pages/teaching-details.scss */
.section-video .video-main .item.active {
  display: table;
}
/* line 403, ../../scss/pages/teaching-details.scss */
.section-video .video-main .item .left {
  display: table-footer-group;
}
/* line 407, ../../scss/pages/teaching-details.scss */
.section-video .video-main .item .video-info {
  display: table-header-group;
}
/* line 411, ../../scss/pages/teaching-details.scss */
.section-video .video-main .video-link {
  position: relative;
  width: 365px;
  height: 370px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 419, ../../scss/pages/teaching-details.scss */
.section-video .video-main .video-info {
  position: relative;
}
/* line 422, ../../scss/pages/teaching-details.scss */
.section-video .video-main .title {
  font-size: 24px;
}
/* line 425, ../../scss/pages/teaching-details.scss */
.section-video .video-main .video-tip {
  margin: 15px 0;
  color: #000;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
}

@media only screen and (max-width: 480px) {
  /* line 440, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tabs #tab-an-event-organizer .paragraph-container {
    margin-bottom: 0 !important;
    padding: 0 20px !important;
  }
  /* line 446, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-layout.tab1 .tab-content h2 {
    margin-bottom: 65px;
  }
  /* line 449, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-layout.tab1 .btn-container {
    margin-top: -60px;
  }
  /* line 453, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-layout.tab1 .section-text .left-column, .page-teaching-details .tab-layout.tab1 .section-text .right-column {
    float: none;
    width: 100%;
  }
  /* line 457, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-layout.tab1 .section-text .left-column .paragraph-container:before, .page-teaching-details .tab-layout.tab1 .section-text .right-column .paragraph-container:before {
    top: -140px;
    left: 50%;
    margin-left: -5px;
    height: 193px;
    width: 10px;
    background: url("../../images/vertical-separator.png") no-repeat;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  /* line 474, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .paragraph-container {
    font-size: 24px !important;
    font-family: 'Open Sans Condensed';
    margin-bottom: 80px;
  }
  /* line 480, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .testimonials {
    padding: 0 15px;
  }
  /* line 484, ../../scss/pages/teaching-details.scss */
  .page-teaching-details #page > .container {
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 170px;
  }
  /* line 490, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-navigation {
    float: none;
    width: 100%;
    padding: 28px 1px 0;
    margin-top: -2px;
    height: auto !important;
  }
  /* line 498, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .page-title {
    font-size: 30px;
    width: 100%;
  }
  /* line 502, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tabs {
    margin-top: 25px;
  }
  /* line 505, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-header {
    margin-right: 0;
  }
  /* line 508, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-header h3 {
    font-size: 19px;
  }
  /* line 511, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-header .icon-container {
    width: 78px;
    height: 78px;
    background-size: 78px 78px;
  }
  /* line 516, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-header .text-container {
    width: 67%;
  }
  /* line 519, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-header .text-container span {
    font-size: 14px;
  }
  /* line 524, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    padding: 30px 0;
    background: #8dc63f;
    margin-top: 10px;
  }
  /* line 534, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content h2 {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 27px;
  }
  /* line 540, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content p {
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.55;
    text-align: center;
  }
  /* line 547, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-video {
    box-shadow: none;
    padding: 20px 0 30px 0;
  }
  /* line 551, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-video .video-link {
    width: 100% !important;
    margin-right: 0 !important;
  }
  /* line 558, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text {
    padding: 25px 20px 30px;
  }
  /* line 561, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text h2 {
    margin-bottom: 25px;
  }
  /* line 564, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text .col.paragraph.paragraph {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
  }
  /* line 571, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text .middle.col.paragraph {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  /* line 576, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text .middle.col.paragraph:before {
    left: 50%;
    top: -135px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  /* line 585, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text .middle.col.paragraph:after {
    right: 50%;
    top: 10px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  /* line 595, ../../scss/pages/teaching-details.scss */
  .page-teaching-details .tab-content .section-text .last.paragraph a {
    margin-top: 20px;
  }
}
