.page-contact {
  background: #d2168e;

  article {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    float: left;
    width: 560px;
    margin-left: 130px;
    padding: 30px 40px 70px 35px;
    background: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    .mask.grunge {
      float: left!important;
      width: 154px;
      height: 154px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }

    h4 {
      margin-bottom: 20px;
      margin-right: 25px;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 16px;
      color: #000;
    }
    input[type="text"], input[type="email"] {
      width: 300px;
      margin-bottom: 10px;
    }
    input[type="text"], input[type="email"] {
      float: right;
    }
    textarea {
      width: 485px;
      height: 140px;
      margin-top: 8px;
    }
    input[type="submit"] {
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -55px;
      width: 99px;
      height: 96px;
      border: none;
      outline: none;
      background: url('../../images/circle-bg-blue-md.png') no-repeat;
      background-size: 99px 96px;

      color: #fff;
    }
    ::-webkit-input-placeholder {
      color: #000;
      font-size: 16px;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: #000;
      font-size: 16px;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #000;
      font-size: 16px;
    }

    :-ms-input-placeholder {
      color: #000;
      font-size: 16px;
    }

  }
  aside {
    float: right;
    width: 300px;
    margin-right: 125px;

    section {
      box-sizing: content-box;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      padding: 15px;
      width: 300px;
      margin-bottom: 18px;
      background: #f6f6f6;
      border: solid 1px #fff;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;

      iframe {
        background: #fff;
      }
    }
  }
  .page-title {
    width: 695px;
    margin: 40px auto;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    line-height: 1.4;
    text-align: center;

    span {
      display: block;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 480px) {
  .page-contact {
    .fb_iframe_widget {
        width: 100%;
    }
    
    #page > .container {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    .page-title {
      width: 90%;
      font-size: 24px;
    }
    aside, article {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    article {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 20px 5px 50px;
      margin-bottom: 80px;

      .mask.grunge {
        float: none!important;
        display: block;
        margin: 0 auto 25px!important;
      }
      input[type="text"], input[type="email"] {
        width: 100%;
        float: none;
      }
      textarea {
        max-width: 100%;
        min-width: 0;
        width: 100%;
        margin-left: 0;
      }
      .contact-image {
        float: none!important;
        display: block;
        margin: 0 auto 20px;
      }
      h4 {
        float: none;
        text-align: center;
        margin-right: 0;
      }
      span.wpcf7-form-control-wrap {
        float: none;
      }
    }
    aside {
      section {
        width: 84%;
        margin: 0 auto 20px;

      }
    }

  }
  .fb-like-box span, .fb-like-box span * {
    width: 100% !important;
}
}
