.page-homepage {
  background: #e0e0e0;

  #page > .container {
    padding-top: 140px;
    height: 1000px;
  }
  h1 {
    width: 595px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
  }
  .picture-container {
    width: 214px;
    height: 212px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;

    .swapping-images, & > .mask.grunge {
    	margin: 21px 22px;
      height: 170px;
      width: 170px;
    }
  }
  .orange-container {
    background: url('../../images/picture-frame-orange.png') no-repeat;
  }
  .green-container {
    background: url('../../images/picture-frame-green.png') no-repeat;
  }
  .blue-container {
    background: url('../../images/picture-frame-blue.png') no-repeat;
  }
  .text-container {
    p {
      font-family: 'open sans';
      font-weight: 400;
      font-size: 16px;
      color: #000;
      line-height: 1.5;
      margin: 20px 0;
    }
    .text-orange, .text-green, .text-blue {
      margin-right: 15px;
      text-transform: uppercase;
      font-family: 'open sans';
      font-weight: 600;
      font-size: 16px;
    }
    a {
      display: block;
    }
    a:hover {
      .text-green, .text-blue, .text-orange {
        color: #000;
      }
      .btn-blue, .btn-green, .btn-orange {
        color: #fff;
      }
      .btn-blue {
        background: #3193cc;
      }
      .btn-green {
        background: #80b339;
      }
      .btn-orange {
        background: #d97d1a;
      }

    }
  }
  section {
    position: absolute;
    width: 554px;

    .text-container {
      float: left;
      width: 291px;
    }
  }

  .section-orange {
    right: 15%;
    top: 315px;
    z-index: 10;

    .picture-container {
      float: left;
    }
    .text-container {
      margin: -25px 0 0 20px;
    }
  }
  .section-green {
    left: 1%;
    top: 479px;
    z-index: 9;

    .picture-container {
      float :right;
    }
    .text-container {
      margin-top: -45px;

      a.text-green {
        margin-left: 122px;
      }
      a {
        text-align: right;
      }
    }
  }
  .section-blue {
    right: 7%;
    top: 482px;

    .picture-container {
      float: left;
    }
    .text-container {
      margin: 35px 0 0 20px;
    }
  }
}

@media only screen and (max-width: 480px) {

  .page-homepage {

    #page > .container {
      height: auto;
    }
    h1 {
      width: 100%;
      font-size: 30px;
    }
    .section-orange, .section-blue, .section-green {
      position: relative;
      width: 100%;
      right: 0;
      top: 0;

      .picture-container, .text-container {
        float: none!important;
        display: block;
      }
      .text-container {
        margin-top: 30px;
        text-align: center;
        width: auto;

        a.text-green {
          margin-left: 0;
        }
        a {
          text-align: center;
        }
      }
      .picture-container {
        margin: 40px auto 0;
        padding: 16px 0;

        .swapping-images {
          margin: 0 auto;
          padding: 90px 0;
        }
      }
    }
    .btn-green, .btn-orange, .btn-blue {
      display: block;
      margin: 23px auto 0;
    }
    .section-orange .picture-container > .mask.grunge {
        margin: 5px 23px!important;
        height: 170px;
        width: 170px;
        
    }

  }
}