.page-store {
    background: #ef4135;

    aside {
        float: left;
        width: 38%;
        margin-top: 55px;
        padding-left: 70px;

        p {
            margin-bottom: 35px;
            font-family: 'Open Sans Condensed';
            font-weight: 700;
            color: #000;
            line-height: 1.4;
            font-size: 21px;

            span {
                color: #fff;
            }

        }
    }
    section {
        margin-top: 55px;
        float: right;
        width: 60%;

        ul {
            list-style: none;
            text-align: right;

            .list-item {
                position: relative;
                display: inline-block;
                margin-left: 30px;
                margin-bottom: 50px;
                text-align: center;
                vertical-align: top;

                span {
                    width: 165px;
                    display: block;
                    font-family: 'Open Sans';
                    font-weight: 500;
                    font-size: 18px;
                    color: #fff;
                    margin: 30px auto;
                    text-align: center;
                    line-height: 1.4;
                }
                img {
                    vertical-align: middle;
                }
            }
        }
    }
    .list-item a {
        display: block;
        width: 190px;
        height: 190px;

        text-align: center;
        line-height: 186px;
        .mask {
            width: 190px;
            height: 190px;
        }
    }
    .page-title {
        font-family: 'Open Sans Condensed';
        font-weight: 600;
        font-size: 40px;
        color: #fff;
        text-align: left;
        margin-bottom: 30px;
    }
    .product-pic-container {
        width: 330px;
        height: 330px;
        background: #fff;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 480px) {
    .page-store {
        aside, section {
            float: none;
            width: 100%;
            padding: 0;
        }
        .page-title {
            font-size: 30px;
            margin-bottom: 20px;
        }
        aside {
            p {
                margin-bottom: 15px;
            }
        }
        .product-pic-container {
            margin-top: 30px;
            width: 100%;
            height: auto;
            img {
                margin-bottom: -2px;
            }
        }
        section {
            margin-top: 100px;

            ul {
                text-align: center;

                .list-item {
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin: 0 auto 40px;
                    a {
                        width: auto;
                    }
                    > span {
                        margin: 0 auto;
                    }
                    .mask {
                        width: 170px;
                        height: 170px;
                    }
                }
            }
        }

    }
}
